@font-face {
    font-family: 'Minecraftia-Regular';
    src: url('https://github.com/Andiuber/resources/blob/ec1d785b1cbe602759a442bc672175d2f6b791ba/fonts/Minecraftia-Regular.ttf') format('truetype');
}

.entry-title a {
    font-family: Minecraftia-Regular;
    display: block;
    color: #00ff22;
    font-size: 30px;
}
